
.circle {
    width: 200px;
    height: 250px;
    border: 4px solid #00ffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1c1c1c;
    box-shadow: 0 0 10px #00ffff;
    transition: all 0.3s ease;
}
.bg{
    background-image: url(https://t4.ftcdn.net/jpg/02/43/03/95/360_F_243039506_XKiQHc7Jh2UhXY4Z0VnX90THrKA4sNAG.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.timer-display {
    font-size: 28px;
    color: #ffffff;
}

.btn-info:hover {
    background: #00ffff;
    color: #1c1c1c;
}
.input-set{
    width: 70px;
    background: #888585;
    color: white ; 
    border: none;
}
.card{
    width: 400px; 
    height: 500px;
    background: #1c1c1c;
    color: white;
    border-radius: 12px;
}
